
<script src="https://code.jquery.com/jquery-latest.min.js"></script>





<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-pi2l{background-color:#9aff99;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-rcag{background-color:#9aff99;color:#ffffff;text-align:left;vertical-align:top}
</style>

<h1>  운동 일정표 !! </h1>

<table class="tg">
    <thead>
    <tbody th:each="member: ${list}">
    <tr class="todo">
        <td class="tg-pi2l" th:text="${member.id}">Day</td>
        <td th:text="${member.exercise1}"></td>
        <td th:text="${member.exercise2}"></td>
        <td th:text="${member.exercise3}"></td>
        <td th:text="${member.exercise4}"></td>
        <td th:text="${member.exercise5}"></td>
        <td th:text="${member.exercise6}"></td>
    </tr>
    </tbody>
    </thead>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/form/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>
</table>

