
<script src="https://code.jquery.com/jquery-latest.min.js"></script>





<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-pi2l{background-color:#9aff99;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-rcag{background-color:#9aff99;color:#ffffff;text-align:left;vertical-align:top}
</style>

<h1>  운동 일정표 !! </h1>

<table class="tg">
    <thead>
    <tbody th:each="member: ${list}">
    <tr class="todo">
        <td class="tg-pi2l" th:text="${member.id}">Day</td>
        <td th:text="${member.exercise1}"></td>
        <td th:text="${member.exercise2}"></td>
        <td th:text="${member.exercise3}"></td>
        <td th:text="${member.exercise4}"></td>
        <td th:text="${member.exercise5}"></td>
        <td th:text="${member.exercise6}"></td>
    </tr>
    </tbody>
    </thead>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>



</table>

<script>
    function requestPostBodyJson(){
        console.log("");
        console.log("[requestPostBodyJson] : [start]");
        console.log("");

        // [요청 url 선언]
        var reqURL = "http://localhost:8012/index/join"; // 요청 주소
        var sendData = document.getElementById("username");

        let formData2 = new FormData(document.getElementById("form"));
        formData2.append('key1', 'value1');
        formData2.append('key2', 'value2');



        let values = formData2.values();
        for (const pair of values) {
            console.log(pair);
        }


        console.log("");
        console.log(sendData.value);
        console.log("");

        console.log("");
        console.log(formData2);
        console.log("");


        // [요청 json 데이터 선언]
        var jsonData = { // Body에 첨부할 json 데이터
            "username" : "KOP",
            "exercise1" : "bent over raise",
            "exercise2" : "bent over raise",
            "exercise3" : "bent over raise",
            "exercise4" : "bent over raise",
            "exercise5" : "bent over raise",
            "exercise6" : "bent over raise",
            "meberDesc" : 10,
            "age" : 31
        };



        $.ajax({
            // [요청 시작 부분]
            url: reqURL, //주소
            data: JSON.stringify(jsonData), //전송 데이터
            type: "POST", //전송 타입
            async: true, //비동기 여부
            timeout: 5000, //타임 아웃 설정
            dataType: "JSON", //응답받을 데이터 타입 (XML,JSON,TEXT,HTML,JSONP)
            contentType: "application/json; charset=utf-8", //헤더의 Content-Type을 설정

            // [응답 확인 부분 - json 데이터를 받습니다]
            success: function(response) {
                console.log("");
                console.log("[requestPostBodyJson] : [response] : " + JSON.stringify(response));
                console.log("");
            },

            // [에러 확인 부분]
            error: function(xhr) {
                console.log("");
                console.log("[requestPostBodyJson] : [error] : " + JSON.stringify(xhr));
                console.log("");
            },

            // [완료 확인 부분]
            complete:function(data,textStatus) {
                console.log("");
                console.log("[requestPostBodyJson] : [complete] : " + textStatus);
                console.log("");
            }
        });
    };

</script>