
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>




<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-pi2l{background-color:#9aff99;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    .tg .tg-rcag{background-color:#9aff99;color:#ffffff;text-align:left;vertical-align:top}
</style>

    <h1>  운동 일정표 !! </h1>

    <table class="tg">
    <thead>
        <tbody th:each="member: ${list}">
        <tr class="todo">
            <td class="tg-pi2l" th:text="${member.id}">Day</td>
            <td th:text="${member.exercise1}"></td>
            <td th:text="${member.exercise2}"></td>
            <td th:text="${member.exercise3}"></td>
            <td th:text="${member.exercise4}"></td>
            <td th:text="${member.exercise5}"></td>
            <td th:text="${member.exercise6}"></td>
        </tr>
    </tbody>
    </thead>

        <form name="testForm" id="testForm">
            <input type="text" name="id" id="id" value="112" />
            <button id="btn1">제출</button>
        </form>


</table>



<script>
    $("#btn1").click(function javascript_onclikc(){
        alert('Jquery button를 클릭하셨습니다.');


        $.ajax({
            url: "http://localhost:8012/index/join",
            type: "POST",
            data : JSON.stringify(


                {
                    "id": 100,
                    "username": "KOO",
                    "exercise1": "lat pull down",
                    "exercise2": "seated row",
                    "exercise3": "babel row",
                    "exercise4": "push down lat",
                    "exercise5": "hammer curl" ,
                    "exercise6": "babel curl",
                    "meberDesc": 20,
                    "age": 30
                }


            ),
            dataType: 'json',
            headers: {'Content-Type': 'application/json'},
            success: function (response) {
                console.log(response);
            },
            error: function(error){
                console.log("Something went wrong", error);
            }
        });




    });

</script>